Assets/PostProcessing/
Assets/PostProcessing.meta
Assets/Standard Assets.meta
.vs/ShaderDemo/v15/Server/sqlite3/storage.ide
.vs/ShaderDemo/v15/Server/sqlite3/db.lock
Assets/Effects/post_processing.asset.meta
Assets/Effects/post_processing.asset
Assets/Standard Assets/
Library/
.vs/ShaderDemo/v15/Browse.VC.db
